.ve-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.ve-modal-dialog{
    background-color: rgba(0, 0, 0, 0.39);
    color: #F0F0F0;
}

.ve-modal-dialog-speaking{
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 40%;
    padding-top: 5px;
    width: 140px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.5em;
}